@charset "UTM-8";


* {
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /*
    --cor1: #012340;
    --cor2: #025939;
    --cor3: #027333;
    --cor4: #03A63C;
    --cor5: #04D939; */
    --cor1: #0D6107;
    --cor2: #286124;
    --cor3: #16AD0C;
    --cor4: #1EE010;
    --cor5: #5FE655; 
}

body {
    background-color: var(--cor5);
}


/* Cabeçalho */
header {
    background-image: linear-gradient(to top, var(--cor1), var(--cor5));
    color: white;
    padding: 10px;
    text-align: center;
}

header > h1 {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.61);
    font-size: 2.2em;
    padding-top: 10px;
}

header > p {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.644);
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 25px;
}

nav {
    text-align: left;
    padding-bottom: 10px;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.267);
}

nav > a:hover {
    background-color: var(--cor5);
    color: var(--cor1);
    border-radius: 5px;
    transition: 0.5s;
}



/* Principal */
main {
    max-width: 800px;
    min-width: 320px;
    min-height: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.425);
    
}

main h2 {
    padding-bottom: 10px;
}

main section {
    padding: 20px;
}

main p {
    text-align: justify;
    text-indent: 25px;
    line-height: 1.5em;
}

main a {
    color: blue;
    text-decoration: none;
}

main a::after {
    content: "\00a0\1F517";
}

main a:hover {
    text-decoration: underline;
}

main a:visited {
    color: purple;
}

main img {
    max-width: 600px;
    margin: auto;
    width: 100%;
    padding-top: 10px;
    display: block;
}

main aside {
    background-color: var(--cor5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
}

main aside > h3 {
    color: white;
    background-color: var(--cor1);
    font-weight: bold;
    padding: 10px;
    
}

main aside > p {
    padding: 10px;
}


/* Rodapé */
footer {
    background-color: var(--cor1);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.479);
}


footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer span {
    padding-left: 15px;
}
